pylama-dmypy==0.4
pylama==8.4.1
neovim==0.3.1
jedi==0.18.2
python-lsp-server==1.7.4
python-lsp-black==1.3.0
pylsp-mypy==0.6.7
isort==5.11.5
pyls-isort==0.2.2
hatch==1.7.0
mypy==1.4.1
tox==4.8.0
mslex==0.3.0; sys.platform == 'win32'
python-lsp-pylama==0.1.0
packaging==23.2
